__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

thumbs.db
.DS_Store
.idea


# conda install -c conda-forge streamlit
# conda install -c conda-forge pytorch torchvision torchaudio cpuonly  # for CPU version
# pip install ftfy regex tqdm
